.container {
    display: flex;
}

.header {
    background-color: red;
}

.sidebar {
    flex: 1;
    background-color: cyan;
}

.main-content {
    flex: 4;
    background-color: grey;
}